@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
        @apply bg-neutral-100 font-roboto text-dark;
        scroll-behavior: smooth;
}

html {
        scroll-behavior: smooth;
}

*::-webkit-scrollbar {
        @apply bg-dark;
        width: 0.4rem;
        scroll-behavior: smooth;
}

*::-webkit-scrollbar-thumb {
        background-color: #ffb703;
        width: 0.4rem;
        scroll-behavior: smooth;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        -webkit-appearance: none;
}


#cd {
        direction: rtl;
        scroll-behavior: smooth;
}

#cd div {
        direction: ltr;
}

#cd::-webkit-scrollbar {
        width: 0.2rem;
        @apply bg-transparent absolute;
}

#cd::-webkit-scrollbar-thumb {
        @apply bg-neutral-200;
}

#mcSlide::-webkit-scrollbar {
        @apply bg-transparent;
}

#mcSlide::-webkit-scrollbar-thumb {
        @apply bg-transparent;
}

#ccardsdiv::-webkit-scrollbar {
        @apply bg-transparent;
}

#ccardsdiv::-webkit-scrollbar-thumb {
        @apply bg-dark;
}

#chatroom::-webkit-scrollbar {
        @apply bg-transparent;
}

#chatroom::-webkit-scrollbar-thumb {
        @apply bg-dark;
}

#chatroom:last-child {
        scroll-snap-align: end;
}